// Standard text input
input[type="text"] {
  padding: .75rem 0; //total height ~48
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: #666;
  background: transparent;

  border: none;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;

  &[disabled] { opacity: .5; }

  &::-webkit-input-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
  &:-moz-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
  &::-moz-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
  &:-ms-input-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
}

// Remove chrome/saf autofill yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
