// Standard text input
input[type="text"],
input[type="textarea"] {
  line-height: 1.5;
  color: #666;
  background: transparent;

  border: none;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0;

  &::-webkit-input-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
  &:-moz-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
  &::-moz-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
  &:-ms-input-placeholder {
     color: $placeholder-color;
     font-style: italic;
     letter-spacing: .03em;
  }
}

// Remove chrome/saf autofill yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
}
