// Clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin title-caps {
  text-transform: uppercase;
}

// Blue Gradient For Navs
@mixin blue-gradient {
  background-color:#2896ba;
  background: linear-gradient(#27aed9, #2896ba);
}
