// Caps styling used in headers
@mixin title-caps {
  letter-spacing: .3em;
  text-indent: .3em;
  text-transform: uppercase;
}

// Adds an ellipses at the end of overflowing strings
@mixin ellipsized {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin force-wrap {
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}
