<template name="leftNav">
  <section id="menu">
    <div class="list-todos">
      <a class="js-new-list link-list-new"><span class="icon-plus"></span>New List</a>

      {{#each lists}}
        <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{title}}">
          {{#if incompleteCount}}
            <span class="count-list">{{incompleteCount}}</span>
          {{/if}}
          {{title}}
        </a>
      {{/each}}

    </div>
  </section>

  <div id="right-hand-container">
    {{#each thisArray}}
      {{> yield}}
    {{/each}}
  </div>
</template>
