<template name="leftNav">
  <div class="left-hand-content row">
    <div class="left-hand-nav lists_left-nav col-xs-3">
      <img src="/images/check-it-white.svg" alt="checkIT logo" class="lists_logo"/>
      <section id="menu" class="lists_left-menu">
        <h2 class="lists_left-menu-title">
          My Lists
          {{#if _id}}
            <a class="js-new-list link-list-new"><span class="icon icon-plus"></span></a>
          {{/if}}
        </h2>
        <ul class="list-todos lists_list-links">
          {{#each lists}}
            <li class="lists_list-link">
              <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{titleText}}">
                {{titleText}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    </div>

    <div class="right-hand-container col-xs-9">
      {{> yield}}
    </div>
  </div>
</template>
