<template name="listsShow">
  <div class="page lists-show">
    <nav class="js-title-nav lists-show_title">
      <input type="text" name="title" class="js-title-input lists-show_title-input"
        value="{{title}}" placeholder="List Name">

      <input type="textarea" name="description"
        class="js-description-input lists-show_description-input" value="{{description}}"
        placeholder="Type your description of this list here.">

      <div class="nav-group right lists-show_actions">
        <div class="options-web">
          <a class="js-copy-list nav-item">
            <span class="icon icon-duplicate" title="Duplicate List"></span>
          </a>
          <a class="js-delete-list nav-item">
            <span class="icon icon-trashcan" title="Delete List"></span>
          </a>
        </div>
      </div>
    </nav>

    <div class="list_content">
      <div class="list-items">
        <h2 class="list-items_heading">Checklist</h2>
        {{#if todosReady}}
          {{#with _id}} {{! Establish new data context with only the '_id'
                            field. This way, when the 'incompleteCount' field
                            changes, we don't re-render the list contents }}
            {{#each todos this}}
              {{> todosItem}}
            {{/each}}
          {{/with}}
          <form class="js-todo-new todo-new input-symbol {{addingClass}}">
            <input type="text" placeholder="Type item description here...">
          </form>
          <button type="button" name="add-item-button" class="js-add-todo-button button add-item-button">
            Add Item
          </button>
        {{else}}
            <div class="wrapper-message">
              <div class="title-message">Loading tasks...</div>
            </div>
        {{/if}}
      </div>

      {{#if linkedItems}}
        <div class="linked-items">
          <h2 class="linked-items_heading">Linked Items</h2>
          {{#each linkedItems}}
            {{> linkedItem}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
