<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="checkbox-custom"></span>
    </label>

    <div class="list-item_content">
      <input type="text" value="{{text}}" placeholder="Task name">
      <a class="js-edit-item edit-item" href="#"><span class="icon-pencil">E</span></a>
      <a class="js-delete-item delete-item" href="#"><span class="icon-trash">X</span></a>
    </div>
  </div>
</template>
