<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox list-item_checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="icon icon-check"></span>
    </label>

    <div class="list-item_content">
      <input type="text" value="{{text}}" placeholder="Empty task" disabled="{{checked}}">
      <div class="list-item_actions">
        <a class="js-edit-item edit-item" href="#"><span class="icon icon-edit"></span></a>
        <a class="js-delete-item delete-item" href="#"><span class="icon icon-trashcan"></span></a>
      </div>
    </div>
  </div>
</template>
