<template name="topNav">
  <div class="top-nav_header">
    <div class="top-nav_brand">
      <img src="/images/check-it-white-no-text.svg" alt="checkIT logo"
        class="top-nav_logo"/>
    </div>
    <ul class="top-nav_list-links">
      {{#each lists}}
        <li class="top-nav_list-link">
          <a title="{{titleText}}">
            {{titleText}}
          </a>
        </li>
      {{/each}}
    </ul>
    <div class="top-nav_actions">
      {{#if _id}}
        <a class="js-new-list link-list-new">New List<span class="icon icon-plus"></span></a>
      {{/if}}
    </div>
  </div>

  <div class="top-nav_list-show">
    {{> yield}}
  </div>
</template>
