.list-items {
  background-color:#2896ba;
  background: linear-gradient(#f8f8f8, #eaeaea);

  .list-item {
    margin: 1em 0;
  }
}

.todo-new {
  background: #FFF;
  padding: 1em;

  input {
    width: 100%;
  }
}
